.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-feature-settings: 100;

  }
  
  .banner{
    display: flex;
    justify-content: space-between;
    background-color: #bee0d0;
    border-radius: 16px;
    padding: 100px 80px;


  }
  .banner-profile{
    width: 473.03px 400px;
    height: 400;
  }
  .banner-description{
    font-weight: bold;
    font-size: 56px;

  }
.banner-footer{
  background-color: #006A50;
 padding:17px 34px ;
 border-radius: 8px;
 border: none;

}
.banner-head{
  padding: auto;
}
/* ideas */
.ideas{
  display: ;
}
.vision-future{
  display: flex;
  gap: 24px;
  padding: 32px;
  

}
.ideas-description{
  /* padding: 30px; */
}
.first-ideas{
  background-color: #5490F5;
  padding: 32px;
  border-radius: 16px;
}
.second-ideas{
  background-color: #C6E4D6;
  padding: 32px;
  border-radius: 16px;
}
.third-ideas{
  background-color: #F7EBCF;
  padding: 32px;
  border-radius: 16px;
}
.first-button{
  background-color: #5986d5;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}
.second-button{
  background-color: #259b66;
  padding:  11px 20px;
  border-radius: 8px;
  border: none;
}
.third-button{
  background-color: #FFC239;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}
/* news container */
.news-container{
  margin: 160px auto;
  gap: 24px;
  margin-bottom: 32px;
}
p{
  font-size: 16px;
}
h2{
  font-size: 40px;
  margin-bottom: 24px;

}
.news-card{
  display: flex;
  gap: 32px;
  padding: 48px;
  background-color: #FFFFFF;
  border-radius: 24px;
  margin-bottom: 32px;

}
.news-card-pic{
  width: 408px;
  height: 306px;
  border-radius: 24px;
  

}
.news-contain h3{
  font-size: 32px;
  font-weight: bold;
  text-emphasis-color: #0E0E0E;
}
button{
  background-color: #006A50;
  padding: 13px 26px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  
}
.news-contain{
  flex: 1;
}